doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Cardo',type='text/css')
    link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')
    link(rel='stylesheet', href='/styles/agrippa.min.css?#{cacheBreaker}')
  body(ng-app="app")
    div.page
      div.container-fluid
        block body

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')
    script(src='/views/account/index.min.js?#{cacheBreaker}')
    script(src='/js/app.min.js?#{cacheBreaker}')
    script(src='/vendor/angular/angular-route.js?#{cacheBreaker}')
